.employee {
  // outline: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0 15px 0 rgba(64, 64, 83, 0.05);

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
  }

  &__birthdate {
    font-weight: 400;
    font-size: 14px;
    color: var(--accent-color);
  }

  &__personal {
    display: flex;
    justify-content: space-between;
  }

  &__position {
    color: var(--text-color)
  }

  &__phone {
    color: var(--dark-color)
  }
}